
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root{
    --light-color-alt: white;
    --primary-background-color: rgb(20, 19, 19);
    --secondary-background-color: #252830;
    --hover-light-color: var(--light-color);
    --hover-dark-color: var(--primary-background-color);
    --transparent-light-color: rgba(255,255,255,.05);
    --transparent-dark-color: rgba(0,0,0,.75);
    --font-family: 'Poppins', sans-serif;
    --font-size-xsm: 1.2rem;
    --font-size-sm: 1.6rem;
    --font-size-md: 2.4rem;
    --font-size-lg: 3rem;
    --font-size-xl: 4rem;
    --gap: 2rem;
    --margin-sm: 2rem;
    --margin-md: 3rem;
    --item-min-height-sm: 20rem;
    --item-min-height-md: 30rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: var(--font-family);
    font-size: var(--font-size-sm);
    color: var(--light-color-alt);
    background-color: var(--primary-background-color);
    letter-spacing: 1px;
    transition: background-color .25s,color .25s;
}

a{
    color: inherit;
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}


i{
    font-size: var(--font-size-md);
}
.container{
    max-width: 160rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.place-items-center{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.section:not(.featured-articles){
    padding-block: 5rem;
}

.d-grid{
    display: grid;
}

.screen-sm-hidden{
    display: none;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    padding: 20px 100px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    z-index: 100;
  }
  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.4),
      transparent
    );
    transition: 0.5s;
  }
  .header:hover::before {
    left: 100%;
  }
  .logo {
    border-radius: 50%;
    height: 70px;
  }
  .navbar a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    margin-left: 35px;
    transition: 0.3s;
    font-family: "Poppins", sans-serif;
  }
  .navbar a:hover {
    color: rgb(224, 55, 70);
  }
  #menu-icon {
    font-size: 36px;
    color: #fff;
    display: none;
    cursor: pointer;
  }
  /* BREAKPOINTS */
  @media (max-width: 992px) {
    .header {
      padding: 1.25rem 4%;
    }
  }
  @media (max-width: 768px) {
    #menu-icon {
      display: block;
    }
    .navbar {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 0.5rem 4%;
      display: none;
      background: rgba(255, 255, 255, 0.1);
     
    }
    .navbar.active {
      display: block;
    }
    .navbar a {
      display: block;
      margin: 1.5rem 0;
    }
  }



/* Featured articles */
.featured-articles{
    padding-block: 2rem;
}

.section-header-offset{
    margin-top: 7.4rem;
}

.featured-articles-container,
.featured-content{
    gap: var(--gap);
}

.headline-banner{
    background-color: var(--secondary-background-color);
    display: flex;
    align-items: center;
    gap: var(--gap);
    font-size: var(--font-size-xsm);
}

.headline{
    background-color: #000;
    color: var(--light-color);
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    padding: 2px;
    height: 100%;
}

.headline span{
    height: inherit;
}

.fancy-border{
    position: relative;
    overflow: hidden;
}

.fancy-border::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: var(--gradient-color);
    background-size: 50% 100%;
    z-index: 5;
}

.fancy-border span{
    position: relative;
    z-index: 10;
    display: inline-flex;
    background-color: var(--secondary-background-color);
    padding: .6rem 1.5rem;
}

.article{
    position: relative;
    min-height: var(--item-min-height-md);
}

.article-image{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .25s;
}

.article-category{
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
    background-color:var(--primary-background-color);
    font-size: 1rem;
    color: var(--light-color);
    text-transform: uppercase;
    z-index: 10;
}

.article-data-container{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 2rem 1.5rem;
    background-color: var(--transparent-dark-color);
    z-index: 10;
    transition: background-color .5s;
}

.article:hover .article-data-container{
    background-color: var(--hover-dark-color);
    color: var(--hover-light-color);
}

.article:hover .article-data-spacer{
    background-color: var(--hover-light-color);
}

.article:hover .article-title{
    color: var(--hover-light-color);
}


.article-data{
    display: flex;
    align-items: center;
    gap: var(--gap);
    font-size: var(--font-size-xsm);
    margin-bottom: 1rem;
}

.article-data-spacer{
    width: .5rem;
    height: .5rem;
    background-color: var(--light-color-alt);
    transform: rotate(45deg);
}

.title{
    color: var(--light-color);
}

.article-title{
    font-size: var(--font-size-md);
}

/* Sidebar */
.sidebar{
    background-color: var(--secondary-background-color);
    padding: 2.5rem;
}

.trending-news-box{
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    padding-block: 2rem;
    border-bottom: 1px solid var(--transparent-light-color);
}

.trending-news-box:last-of-type{
    border-bottom: none;
}

.featured-content-title{
    font-size: var(--font-size-md);
    text-align: center;
    padding: 1rem;
}

.trending-news-img-box{
    position: relative;
    width: 100%;
    height: var(--item-min-height-sm);
}

.trending-number{
    position: absolute;
    top: -1rem;
    left: -1rem;
    z-index: 15;
    width: 3rem;
    height: 3rem;
    background-color: var(--secondary-background-color);
    color: var(--light-color);
    border-radius: 50%;
}

.trending-news-data .article-title{
    font-size: var(--font-size-sm);
}

.trending-news-box:hover .article-title{
    color: var(--light-color-alt);
}



/* Footer */
.footer{
    background-color: var(--secondary-background-color);
}

.footer-container{
    gap: var(--gap);
}

.company-data{
    display: flex;
    flex-direction: column;
    order: 1;
}
.footer a:hover{
    color: rgb(224, 55, 70);
}

.company-description{
    margin-block: var(--margin-sm);
    max-width: 75%;
}

.social-media{
    margin-bottom: var(--margin-md);
}

.copyright-notice{
    opacity: .8;
}

.footer-list{
    flex-direction: column;
    align-items: flex-start;
}

.footer-title{
    font-size: var(--font-size-sm);
    text-transform: uppercase;
    margin-bottom: var(--margin-sm);
}


@media screen and (min-width: 700px) {

    .trending-news-box{
        flex-direction: row;
        align-items: center;
    }

    .trending-news-img-box{
        width: 50%;
    }

    .trending-news-data{
        margin: auto;
        text-align: center;
    }
    
    .newsletter-description{
        max-width: 40rem;
    }

    .form-container-inner{
        align-items: center;
    }

    .popular-tags-container,
    .footer-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .company-data{
        order: 0;
    }

}

@media screen and (min-width: 768px) {

    .featured-content{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 5rem repeat(4, 1fr);
    }

    .headline-banner{
        grid-column: 1/-1;
        font-size: var(--font-size-sm);
    }
    
    .featured-article{
        grid-column: 3/-1;
        grid-row: 2/4;
    }

    .featured-article-1{
        grid-column: 1/3;
    }
    
    .featured-article-3{
        grid-column: 1/-1;
        grid-row: 4/6;
    }

    .older-posts .article{
        grid-template-columns: 25rem 1fr;
        
    }

    .older-posts-article-image-wrapper{
        height: auto;
    }

    .blog-post-data img{
        height: var(--item-min-height-md);;
    }
}

@media screen and (min-width: 1024px) {
    .menu{
        position: static;
        width: initial;
        padding: initial;
        background-color: transparent;
        opacity: 1;
        transform: scale(1);
    }

    .menu > .list{
        flex-direction: row;
    }

    .screen-lg-hidden{
        display: none;
    }

    .screen-sm-hidden{
        display: block;
    }

    .sign-up-btn{
        padding: 4px;
    }

    /* Fancy button animation effect */
    .btn.fancy-border:hover::before{
        animation: animate_border .75s linear infinite
    }

    @keyframes animate_border{
        to{
            transform:translateX(-50%)
        }
    }

    .featured-articles-container{
        grid-template-columns: 1fr 40rem;
    }

    .trending-news-img-box{
        width: 10rem;
        height: 10rem;
    }

    .popular-tags-container{
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-container{
        grid-template-columns: repeat(5, 1fr);
    }

    .company-data{
        grid-column: span 2;
    }

    .company-description{
        max-width: 85%;
    }

    .copyright-notice{
        margin-top: auto;
    }

    .blog-post-data img{
        height: 40rem;
    }
}

@media screen and (min-width: 1200px) {
    .older-posts-grid-wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 1500px) {
    .featured-article{
        grid-column: 3/-1;
    }
    
    .featured-article-1{
        grid-column: 1/3;
        grid-row: 2/-1;
    }

}

.detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.detail h2 {
    padding: 40px;
    font-size: 60px;
    font-family: 'Anton',sans-serif;
    text-transform: uppercase;
    line-height: 50px;
}

.detail h2 span{
    color: rgb(224, 55, 70);
}
.detail h1{
    font-size: 50px;
    color: white;
    border-radius: 20px;
    padding: 30px;
    max-width: 500px;
    margin: 10px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    bottom: 100;
    animation: border .5s step-end infinite alternate;
}

@keyframes border{
    50% { border-color: white}
}


span{
    color: rgb(224, 55, 70);
}
.detail p{
    color: white;
    line-height: 22px;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1px;
    font-size: 23px;
}

@media(max-width: 768px){

  .detail h1{
    bottom: 50;
    font-size: 35px;
    padding: 30px;
  }
}


.container-about {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 200px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 3rem;
    color: #fff;
}

.team {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    padding: 0 10px;
}

.team-member {
    display: flex;
    justify-content: center;
}

.card {
    width: 250px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 25px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    text-align: center;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
}

.info h3 {
    margin-top: 10px;
    font-size: 18px; 
    letter-spacing: 1px;
    color: white;
}

.info p {
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.8);
}


@media screen and (max-width: 1024px) {
    .team {
        grid-template-columns: 1fr 1fr; 
        gap: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .container-about {
        padding: 80px 20px; 
    }
    h1 {
        font-size: 2.5rem; 
    }
    .team {
        grid-template-columns: 1fr; 
    }
}

@media screen and (max-width: 480px) {
    .container-about {
        padding: 60px 10px; 
    }
    h1 {
        font-size: 2rem; 
    }
    .card {
        width: 200px;
        padding: 15px; 
    }
    .info h3 {
        font-size: 16px; 
    }
    .info p {
        font-size: 1rem; 
    }
}

.contact {
    flex-basis: 35%;
    padding: 40px;
}
.contact-right {
    flex-basis: 60%;
}
.contact p {
    margin-top: 30px;
}
.contact p i {
    color: rgb(224, 55, 70);
    margin-right: 15px;
    font-size: 25px;
}

.contact-text{
    margin-bottom: 20px;
}

 a {
    text-decoration: none;
    font-size: 20px;
    margin-right: 15px;
    display: inline-block;
    transition: transform 0.5s;
}
 .social-icons a:hover{
    transform: translateY(-5px);
    color: rgb(224, 55, 70);
}
.btn .btn2 {
    display: inline-block;
    background: rgb(224, 55, 70);
}
.contact form {
    width: 100%;

}
form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #1d1d1d;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
.contact, .contact-right{
    flex-basis: 100%;
}
form .btn2 {
    padding: 14px 60px;
    margin-top: 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 17px;
}
form .btn2:hover {
    background: rgb(224, 55, 70);
    transform: translateX(10px);
}
.contact a {
    display: inline-block;
}
.contact-left, .contact-right{
    flex-basis: 100%;
}
